<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

      <title>{% block title %}Bulutron{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bulutron</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class ="active"><a href="/anasayfa">Anasayfa</a></li>
            <li><a href="/index">Dosyalar</a></li>
          </ul>
          {% if is_granted('ROLE_ADMIN') %}
          <div class="dropdown">
            <a class="dropdown-toggle pull-right" href="#" data-toggle="dropdown"><h4 style="margin-top:15px ; color: grey" >{{ app.user.username }}
              <span class="caret"></span></h4></a>
              <ul class="dropdown-menu dropdown-menu-right" style = "margin-top:50px">
                <li><a href="/setting">Ayarlar</a></li>
                <li><a href="{{ path('logout') }}">Çıkış</a></li>
              </ul>
            </div>
          {% endif %}

          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class= "row">
        <div class="col-md-12">
          {% block body %}{% endblock %}
        </div>
      </div>

    </div><!-- /.container -->
    {% block javascripts %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

     {% javascripts '@AppBundle/Resources/public/js/*' %}
         <script src="{{ asset_url }}"></script>

     {% endjavascripts %}

  </body>
</html>
