{% extends 'AppBundle:bulutron:base.html.twig' %}


{% block body %}
<h2>Şifre giriniz</h2>
<div class = "col-md-8">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}

{{form_start(form)}}

{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}
<b>{{ form_errors(form.password) }}</b>

{{form_end(form)}}

</div>

{% endblock %}
