{% extends 'AppBundle:bulutron:base.html.twig' %}
{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class ="row">
    <div class= "col-md-8">
<table class="table table-striped">
 <tbody>
     <th>Dosyalar<td></td><td></td></td><td></td>
     </th>
     <tr><td>#</td>
         <td style = "font-weight:bold">Yüklenme Zamanı</td>
         <td style = "font-weight:bold">Dosya Büyüklüğü</td>
         <td><a href="#" class="btn btn-warning btn-xs pull-right"   data-toggle="modal" data-target="#deneme"  >Toplu İndir</a></td>
    </tr>


    {% set i = 0 %}
    {% set toplam = 0 %}
{% for object in list %}
{% set i = i + 1 %}

  <tr>
    {% if object.favorite == 1 %}
  <th scope="row"><span class="glyphicon glyphicon-star star" id ="s{{object.id}}" data-dosya_id = {{object.id}} ></span></th>
    {% endif %}
    {% if object.favorite == 0 %}
  <th scope="row"><span class="glyphicon glyphicon-star-empty star" id = "s{{object.id}}" data-dosya_id = {{object.id}} ></span></th>
    {% endif %}


  <td class = "say" id ="say{{object.id}}" >{{object.uploadTime|date("jS F Y h:i:s A")}}</td>
  {% set size = object.fileSize %}
  {% if size < 1024  %}
  <td>{{size}}KB</td>
  {% endif %}
  {% if size > 1024 %}
  {% set fsize = size / 1024 %}
   <td> {{fsize|round(1, 'floor')}}MB</td>
  {% endif %}
  {% set toplam = size + toplam %}
  <td><a href="/delete/{{object.id}}" id="sil{{object.id}}" class="btn btn-danger btn-xs" onClick="return confirm('Emin misin?')" >Sil</a>
  {% set link = object.path %}
  {% set enduserid = object.enduser.id %}
  <a href ="/download/{{link}}"  class="btn btn-default btn-xs" >İndir</a>
  <a href="#" class="btn btn-primary btn-xs paylas"   data-toggle="modal" data-target="myModal"  >Paylaş</a>
  <a href="#" class="btn btn-info btn-xs gonder"   data-toggle="modal" data-target="myModalGonder"  >Gönder</a></td></tr>


  <div class="modal fade" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                  <h4 class="modal-title">Paylaş</h4>
              </div>

              <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <label><p class="bold"><h2>E-mail Adresi</h2></p></label>
                          <input type="email" class="form-control" placeholder="Email Address" required><br>
                          <label><p class= "text-muted font-weight-normal">Dosya paylaşımı sadece Bulutron kullanıcıları arasında yapılabilmektedir. Bu nedenle yukarıda girdiğiniz email adresinin Bulutron'a kayıtlı bir kullanıcı olması gerekmektedir.</p></label>
                      </div>
                      <button type="submit" class="btn btn-success btn-md mpaylas" data-dosya_name = {{object.fileName}} >Paylaş</button>
                      <button type="submit" class="btn btn-danger btn-md" data-dismiss="modal" aria-hidden="false">İptal</button>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="myModalGonder">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                  <h4 class="modal-title">Gönder</h4>
              </div>

              <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <label><p class="bold"><h2>E-mail Adresi</h2></p></label>
                          <input type="email" class="form-control adres" placeholder="Email Address" required><br>

                      </div>
                      <button type="submit" class="btn btn-success btn-md mgonder" data-dosya_path = {{object.path}} >Gönder</button>
                      <button type="submit" class="btn btn-danger btn-md" data-dismiss="modal" aria-hidden="false">İptal</button>
                  </form>
              </div>
          </div>
      </div>
  </div>



{% endfor %}



  {% if toplam < 1024 %}
   <table><th>Toplam {{(toplam / 1024)|round(2, 'floor')}} KB alan kullanan {{i}} dosyanız bulunuyor.</th></table>
   {% endif %}
   {% if toplam > 1024 %}
   <table><th>Toplam {{(toplam / 1024)|round(2, 'floor')}} MB alan kullanan {{i}} dosyanız bulunuyor.</th></table>
   {% endif %}
   </tbody> </table>
   </div>

   <div id="deneme" class="modal fade">
     <div class="modal-dialog">

       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Toplu İndir</h4>
         </div>
         <div class="modal-body">
           <form>
             <table class="table table-striped"><tr><td></td><td><label>Yüklenme Zamanı</label></td><td><label>Dosya Boyutu</label></td></tr>
               {% for sec in list %}
               <tr><td><input class="check"  type="checkbox" status="1" value = {{sec.id}}></td>
                    <td>{{sec.uploadTime|date("jS F Y h:i:s A")}}</td>
                    {% set size = sec.fileSize %}
                    {% if size < 1024  %}
                    <td>{{size}}KB</td>
                    {% endif %}
                    {% if size > 1024 %}
                    {% set fsize = size / 1024 %}
                     <td> {{fsize|round(1, 'floor')}}MB</td>
                    {% endif %}</tr>
               {% endfor %}
             </table>
             <div><p class= "text-muted font-weight-normal">Yukarıda gösterilen dosyalardan toplu indirmek istediğinizi seçiniz. Seçtiğiniz dosyalar sistemimizde paketlenecek ve hazırlanacak zip dosyası hazır olduğunda, indirmek için kullanacağınıza adres size email ile bilgi verilecektir. </p></div>

          </form>
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn btn-success btn-md  mtoplu" >Hazırla</button>
           <button type="submit" class="btn btn-default btn-md" data-dismiss="modal" aria-hidden="false">İptal</button>
         </form>
         </div>
       </div>

     </div>
   </div>

   <div class="col-md-4">
       <table class="table table-striped">
           <tr><td>Yeni Dosya</td></tr>
       <th>
           {{form_start(form)}}
            {{ form_widget(form.fileName) }}
       </th>
       <tr><td>
           {{ form_widget(form.add, { 'label': 'Yükle' }) }}
           {{form_end(form)}}
       </td></tr>
   </table>
   </div>
</div>


{% endblock %}
