{% extends 'AppBundle:bulutron:base.html.twig' %}


{% block body %}
<h2>Bulutron Login</h2>
<div class = "col-md-6">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}

{{form_start(form)}}
{{ form_label(form._username)  }}
{{ form_widget(form._username) }}
<b>{{ form_errors(form._username) }}</b>
{{ form_label(form._password)  }}
{{ form_widget(form._password) }}
<b>{{ form_errors(form._password) }}</b>
{{form_end(form)}}

<div class="row">
 <div class="col-md-12">
  <div class="col-md-6"><a href="/newuser" class="btn btn-block btn-info" style= "margin-top:10px" role="button">Yeni Kullanıcı</a></div>
  <div class="col-md-6"><a href="/reset" class="btn btn-block btn-info" style= "margin-top:10px" role="button">Şifre Yenileme</a></div>
  </div>
</div>

</div>

{% endblock %}
