{% extends 'AppBundle:bulutron:base.html.twig' %}


{% block body %}
<h2>Bulutron Kullanıcı Kayıt</h2>
<div class = "col-md-8">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}

{{form_start(form)}}
{{ form_label(form.name)  }}
{{ form_widget(form.name) }}
<b>{{ form_errors(form.name) }}</b>

{{ form_label(form.email)  }}
{{ form_widget(form.email) }}
<b>{{ form_errors(form.email) }}</b>

{{ form_label(form.username)  }}
{{ form_widget(form.username) }}
<b>{{ form_errors(form.username) }}</b>


{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}
<b>{{ form_errors(form.password) }}</b>


{{ form_widget(form.sex) }}
<b>{{ form_errors(form.sex) }}</b>

{{ form_widget(form.madeinName) }}
<b>{{ form_errors(form.madeinName) }}</b>

{{ form_label(form.city)  }}
{{ form_widget(form.city) }}
<b>{{ form_errors(form.city) }}</b>
{{form_end(form)}}

</div>

{% endblock %}
