{% extends 'AppBundle:bulutron:base.html.twig' %}


{% block body %}
<h2>Şifremi Unuttum</h2>
<div class = "col-md-8">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}

{{form_start(form)}}

{{ form_label(form.email)  }}
{{ form_widget(form.email) }}
<b>{{ form_errors(form.email) }}</b>

{{ form_label(form.username)  }}
{{ form_widget(form.username) }}
<b>{{ form_errors(form.username) }}</b>



{{form_end(form)}}

</div>

{% endblock %}
