{% extends 'AppBundle:bulutron:base.html.twig' %}


{% block body %}
<div class = "col-md-8">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}

{{form_start(form)}}
<div class="panel panel-default">
<div class="panel-heading"><h3><b>Ayarlar</b></h3></div>
<div class="panel-body">
  <table class = "table">
 <thead><tr><th><h3><b>Paylaşım ayarları</b></h3></th></tr></thead>
    <tr>
    <td>{{ form_label(form.sharing_enabled)  }}</td>
    <td>{{ form_widget(form.sharing_enabled) }}</td>
  </tr>
<tr>
  <td>{{ form_label(form.sharing_notification_enabled)  }}</td>
  <td>{{ form_widget(form.sharing_notification_enabled) }}</td>
</tr>
  <tr><td><h3><b>API ayarları</b></h3></td><td></td></tr>
 <tr>
  <td>{{ form_label(form.api_enabled)  }}</td>
  <td>{{ form_widget(form.api_enabled) }}</td>
</tr>
</table>
</div>
<div class="panel-footer">{{ form_widget(form.add) }}</div>
</div>
{{form_end(form)}}

</div>

{% endblock %}
