{% extends 'AppBundle:bulutron:base.html.twig' %}
{% block body %}
<a href="http://127.0.0.1:8000/" class= "btn btn-default btn-xs"  > Turn list </a>
{{form_start(form)}}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{{ form_widget(form) }}
{{form_end(form)}}

{% endblock %}
